<h1>Listing Places</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.address %></td>
        <td><%= link_to 'Show', place %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# TODO: INSERT MAP %>
<%# TODO: DISPLAY YELP DATA %>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Place', new_place_path %>
<% end %>
